<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
<body>
  <h1 class="site-title">{{ .Site.Title }}</h1>

  <p style="margin-bottom: 0;">Welcome to my blog.</p>

  <h2 style="margin-top: 0.5em;">Posts</h2>

 <ul class="post-list">
  {{ range .Site.RegularPages }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <small class="post-list-date">{{ .Date.Format "01-02-2006" }}</small>
    </li>
  {{ end }}
</ul>
  
</body>
</html>
